@font-face {
	font-family: Terminus;
	src: url('fonts/TerminusTTFWindows-4.49.3.ttf')
}

@font-face {
	font-family: Evangelion;
	src: url('fonts/Romantica-Condensed.otf')
}

body {
  background-color: white;
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('imagens/fundo.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

h1,h2,h3,a {
	color: navy;
	font-size: 32px;
	font-family: Terminus;
	text-align: center;
	color:white;
}
h1 {
	font-size: 64px;
	font-family: Evangelion;
}
#p1 {
	font-size: 18px;
	
}
#p2 {
	font-size: 18px;
}
#p3 {
	font-size: 18px;
}

#fontee {
	font-size:  12px;
}

p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	max-width: 800px;
}
img {
	max-width: 400px;
	max-height: 200px;
}
table,tr {
	font-size:28px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
th {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: Terminus;
	color:white;
}
td {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0.5);
	color: White;
}
th, td {
	border: 1px solid;
	border-collapse: collapse;
}
#lmbrc {
	max-width: 400px;
	aspect-ratio: 1/1;
}
table{
	/*border:solid white 2px;*/
}